@use '_var' as *;
@use '_mixin' as *;

.sv-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(35, 35, 36);
  overflow-y: scroll;
  padding: 0;

  .sv-section-main {
    position: relative;
    width: 100%;

    &.admin, &.search-page {
      padding: 0 7vw;
    }

    &.admin {
      margin-top: 122px;
    }

    &.search-page {
      margin-top: 80px;
    }

    .sv-section-content:not(.video-page, .search-page) {
      padding-left: calc(var(--width-logo) + var(--content-body-horizontal-padding));
      padding-right: 66px;
    }
  }

  .sv-footer {
    margin-top: 100px;
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid rgb(88, 85, 85);
    
    a {
      text-decoration: none;
      color: rgb(197, 197, 197);
      transition: color .3s ease;

      &:hover {
        color: rgb(226, 226, 226);
      }
    }
  }
}

@include respond-to('sm') {

  :root {
    --grid-item-num: 2;
    --grid-gap: 20px;
  }
}

@include respond-to('lg') {

  :root {
    --grid-item-num: 3;
  }
}

@include respond-to('xl') {

  .sv-navbar-container {
    .sv-search-box.center {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@include respond-to('xxl') {

}

@include respond-to('xxxl') {

  :root {
    --grid-item-num: 4;
  }

  .sv-navbar-container {
    .sv-search-box.center {
      width: 500px;
    }
  }

  .sv-navbar-container.admin {
    .sv-search-box {
      width: 400px;
    }
  }
}

@include respond-to('xxxxl') {

  :root {
    --grid-item-num: 4;
    --grid-gap: 30px;
  }

  .sv-navbar-container.admin {
    .sv-search-box {
      width: 500px;
    }
  }
}

@include respond-to('max') {
  :root {
    --content-body-horizontal-padding: 0px;
    --grid-item-num: 5;
  }

  .sv-category-carousel {
    padding: 0 20px 0 50px;

    .sv-carousel-thumbnails {
      padding-left: calc(var(--width-logo) + var(--content-body-horizontal-padding) - 50px);
    }
  }
}

