@use '../mixin' as *;

@include modal('set-cover') {

  @at-root {
    .sv-modal-set-cover {
      background-color: #fff;

      .sv-modal-set-cover__title {
        color: #000;
      }
      
      .sv-modal-set-cover__footer {
        display: flex;
        justify-content: center;
      }
    }
  }

  .v-window__container {
    width: 800px;
    margin-top: 1rem;
    text-align: center;
    
    .sv-video-wrapper {
      margin-bottom: 10px;
    }

    .sv-modal-set-cover__cover-preview {
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 20px;
      background-color: rgb(245,245,245);
      border-radius: 14px;

      .v-img__placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}