.sv-modal-set-cover {
  background-color: #fff;
  padding: 30px;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 
  rgb(0 0 0 / 8%) 0px 6px 16px 0px, 
  rgb(0 0 0 / 12%) 0px 3px 6px -4px, 
  rgb(0 0 0 / 5%) 0px 9px 28px 8px;
  text-align: center;

  .sv-modal-set-cover__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .sv-modal-set-cover__title {
      font-size: 20px;
      font-weight: 900;
      user-select: none;
    }

    .sv-modal-set-cover__action {
      .v-icon {
        font-size: 22px;
        width: 22px;
        height: 22px;
      }
    }
  }


  .v-window__container {
    width: 800px;
    margin-top: 1rem;
    text-align: center;
    
    .sv-video-wrapper {
      margin-bottom: 10px;
    }

    .sv-set-cover-modal__cover-preview {
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 20px;
      background-color: rgb(245,245,245);
      border-radius: 14px;

      .v-img__placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}